.carousel{
  margin-top: -10px;
  z-index: 0;
}
.carousel-control-next , .carousel-control-prev{
  width: 4%;
  height: 15%;
  top: 60%;
  background-color: #00000033;
  z-index: 1;
  position: absolute;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  width: 1rem;
  height: 1rem;
}
@media (max-width:991px) {
  .carousel-control-next , .carousel-control-prev{
    width: 6%;
    height: 25%;
    top: 50%;
  }
}
@media (max-width:767px) {
  .carousel{
    margin-top: -60px;
  }
}
