<div class="container">
  <div class="row mt-3">
    <div class="col-9">
      <h1>قائمة الأمنيات</h1>
      <p class="p-in-cart">لديك {{productsInWishList.length}} منتجات في قائمة الأمنيات</p>
    </div>
  </div>

  <div class="row py-3 d-flex align-items-center"  *ngIf="productsInWishList.length > 0">
    <div class="col-3">
      <strong class="p-in-cart">صورة المنتج</strong>
    </div>
    <div class="col-3">
      <strong class="p-in-cart">عنوان المنتج</strong>
    </div>
    <div class="col-3">
      <strong class="p-in-cart"> السعر</strong>
    </div>
    <div class="col-3"></div>
    <hr class="mt-1">
  </div>

  <div class="row bg-white mb-3 py-3 d-flex align-items-center cart-row" *ngFor="let product of productsInWishList; let i = index">
    <div class="col-3">
      <img class="img-fluid" [src]="product.img" alt="">
    </div>
    <div class="col-3">
      <p class="title">{{product.title}}</p>
    </div>
    <div class="col-3">
      <p class="price">{{ product.price}} ج.م</p>
    </div>
    <div class="col-3">
      <button class="btn btn-danger" >حذف المنتج</button>
    </div>
  </div>

</div>
