@import '../../../styles.scss';

.card{
  width: 100%;
  border: none;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.btn-primary{
  background-color: $mainColor;
  border: none;
  padding: 6px 10px 6px 30px;
  font-weight: 400;
  font-size: 14px;
}
.btn-primary:active{
  background-color: $mainColor;
  transform: scale(1.05);
  transition: .3s;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.icons{
  color: #B7AECA;
  font-size: 19px;
}
i{
  cursor: pointer;
}
.filled{
  color: #E4CF4B;
}
.empty{
  color:#00000033 ;
}
.on-sale{
  text-decoration: line-through;
}
.card-title{
  font-size: 15px;
}
.c-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
}
.redColor{
  color: rgb(186, 13, 13);
}
